@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Skranji&display=swap');
:root {
    --primary-color: #662c91 ;
    --secondary-color: #4281A4 ;
    --accent1-color: #EAF6FF ;
    --accent2-color: #14110F ;

    --heading-font: 'skranji', serif;
    --paragraph-font: 'mukta', serif;
    
    --nav-background-color: #14110F ;
    --nav-link-color: #662c91 ;
    --nav-hover-link-color: #662c91 ;
    --nav-hover-background-color: #14110F ;
}

header {
    display: grid;
    grid-template-columns:  500px 1fr 1fr;
    border-bottom: 1px solid var(--nav-link-color);
    justify-items: center;
    justify-content: center;
}

header{
    background-color: var(--nav-background-color);

}

.navigation {
    display: flex;
    /*grid-template-columns: repeat(4, 300px);
    grid-column: 2/6;*/
    flex-direction: row;
    align-items: center;
    justify-items: left;
    font-size: 20px;
    list-style: none;
    column-gap: 15rem;
}


/*header{
    background-color:var(--nav-background-color);
    padding: 0 365px;
    margin: 10px;
}*/

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    font-family: var(--paragraph-font);
    font-size: large;
}

a{
    text-decoration: none;
}

.hero{
    position:relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 15px;
}



.hero h1{
    position: absolute;
    top: 0px;
    left: 50rem;
    font-size: 50px;
}

article {
    position: absolute;
    top: 20rem;
    display: block;
    background-color: #4281A4;
    padding: 5px;
    left: 3rem;
    right: 3rem;
    bottom: 15rem;
}

.hero1 img{
    float: right;
    padding: 20px;
    margin: auto;
}

.history {
    display: grid;
    background-color: var(--nav-hover-background-color);
    margin-top: 15px;
    
}

.history h2 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 50px;
    grid-column: 1/2;
    justify-items: center;

}

.history p{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: var(--paragraph-font);
    margin: 3rem;
    padding: 3rem;
    background-color: #4281A4;
}

.adventure {
    display: grid;
    background-color: #14110F;
    margin-top: 15px;
    grid-template-columns: repeat(5,380px);
}

.adventure h2 {
    font-size: 25px;
    grid-column: 3/4;
    justify-self: center;
}

.adventure figure {
    display: grid;
    grid-row: 2/3;
    gap: 20px;
    justify-items: center;
    
}

.figure1 {
    grid-column: 1/2;
    justify-content: space-around;
}

.figure2 {
    grid-column: 2/3;
    justify-content: center;
}

.figure3 {
    grid-column: 3/4;
    justify-content: center;
}

.figure4 {
    grid-column: 4/5;
    justify-content: center;
}

.figure5 {
    grid-column: 5/6;
    justify-content: center;
}


.adventure figcaption {
    background-color: #4281A4;
}

footer, .sociallinks {
    display: flex;
    background-color: #4281A4;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}



/*W05 SECTION*/



.employees {
    display: grid;
    background-color: #14110F;
    margin-top: 15px;
    grid-template-columns: repeat(4,380px);
}

.employees h2 {
    font-size: 25px;
    grid-column: 3/4;
    justify-self: center;
}

.employees figure {
    display: grid;
    grid-row: 2/3;
    gap: 20px;
    justify-items: center;
    
}

.employees figcaption {
    background-color: #4281A4;
}


.employees-figure1 {
    grid-column: 1/3;
    justify-content: space-around;
}

.employees-figure2 {
    grid-column: 2/4;
    justify-content: center;
}

.employees-figure3 {
    grid-column: 3/5;
    justify-content: center;
}

.employees-figure4 {
    grid-column: 4/6;
    justify-content: center;
}

/*.hero-about-us iframe {
    display: grid;
    position: relative;
    margin: 5px;
    padding: 5px;
    float: right;
    top: 5px;
}
.hero-about-us p{
    clear: right;
    margin: auto;
    line-height: 60px;
    text-align: left;
}*/

.hero-about-us {
    display: grid;
    grid-template-columns: repeat(4, 465px);
    grid-template-rows: repeat(4,85px);
    margin: auto;
}

.hero-about-us iframe {
    grid-column: 3/5;
    align-self: center;
    grid-row: 1/2;
    grid-row: 1/5;
}

.hero-about-us p,h2{
    margin-top: 70px;
    margin-left: 20px;
    line-height: 20px;
    text-align: left;
}


form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    position: relative;
    margin: auto;
    border: 1px solid var(--nav-background-color);
    padding: 1rem;
    margin-top: 15px;
    background-color: #4281A4;
    gap: 10px;
}

button{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: larger;
    background-color: #662c91 ;
    color: white;
}

.button:hover {
    background-color:dodgerblue;
}