@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Skranji&display=swap');
:root {
    --primary-color: #662c91 ;
    --secondary-color: #4281A4 ;
    --accent1-color: #EAF6FF ;
    --accent2-color: #14110F ;

    --heading-font: 'skranji', serif;
    --paragraph-font: 'mukta', serif;
    
    --nav-background-color: #14110F ;
    --nav-link-color: #662c91 ;
    --nav-hover-link-color: #662c91 ;
    --nav-hover-background-color: #14110F ;
}



/*header{
    background-color:var(--nav-background-color);
    padding: 0 365px;
    margin: 10px;
}*/

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    font-family: var(--paragraph-font);
    font-size: large;
}

a{
    text-decoration: none;
}

.hero{
    position:relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 0px;
    left: 800px;
    font-size: 50px;
}

article {
    position: absolute;
    top: 325px;
    display: block;
    background-color: #4281A4;
    padding: 5px;
    left: 65px;
}

.hero1 img{
    float: right;
    padding: 25px;
    margin: auto;
}


